*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: red;
    height: 200px;
    width: auto;
}
.content{
    background-color: rgb(251, 255, 0);
    height: 200px;
    width: auto;
}
.footer{
    background-color: red;
    height: 200px;
    width: auto;
} 
