* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(240, 222, 230),
    rgb(197, 149, 236),
    rgb(201, 163, 209)
  );
  /* background-image: url('wall.jpg');
  background-position: center;
  background-size: cover; */
}
.container {
  height: 300px;
  background-color: rgb(255, 255, 255);
  width: 500px;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 2px 2px 15px rgb(136, 135, 135);
}
.container h1 {
  margin: 20px;
  color: rgb(0, 183, 255);
  font-size: 35px;
}
.container p {
  margin: 10px;
  font-size: 25px;
  padding: 30px;
  color: rgb(131, 131, 131);
}
.container button {
  border: none;
  height: 50px;
  width: 200px;
  background-color: rgb(255, 0, 98);
  border-radius: 20px;
  font-size: 25px;
  color: white;
  cursor: pointer;
}
.container button:hover {
  box-shadow: 2px 2px 15px rgb(255, 0, 128);
}
.container .result {
  margin: 20px;
  color: rgb(0, 60, 138);
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
