*{
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
button{
    width: 100px;
    height: 60px;
    border: none;
   color: white;
   text-align: center;
    border-radius: 20px;
    font-size: 60px;
}
.show{
    margin-left: -5px;
    font-size: 120px;
    font-weight: 600;
    text-align: center;
}